@{
    Layout = null;
}
<!DOCTYPE html/>
<html>
<head>
<title>Game</title>
    <script src="http://vivid-frost-4598.herokuapp.com/public/socket.io.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/pew.js")"></script>
    <script type="text/javascript">
        @{
            var username = User.Identity.Name.split('|')[0];
            var application = ViewBag.gameTitle;
            var room = ViewBag.GameSession;
        }
        var username = "@username";
        var application = "@application";
        var room = @room;
    </script>
    <script type="text/javascript" src="@Url.Action("GameCode", "Game", new { gameId = ViewBag.GameId})">
    </script>
</head>
<body>
    <div id="container">
    </div>
</body>
</html>