@model IQueryable<PlayEv.Model.Entities.Game>
@{
    Layout = null;
}
@{
    foreach (var g in Model)
    {
    <div>
        <div>
            <h4>@g.Name</h4>
        </div>
        <div>@g.Description</div>
        <div>@g.Category</div>
        <div>@Html.ActionLink("Play", "Play", new { game = g.Id })</div>
    </div>
    }
}
